/* Auction Css Start Here */
.welcome_video video {
	position: absolute;
	top: 0;
	z-index: 9;
}
.frame-wrapper {
	background-image: url("../img/auction-back.png") !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: auto;
	padding: 2rem 2rem 3rem;
	margin: 4.5rem 2rem;
	position: relative;
}

.frame-wrapper .border-left img {
	position: absolute;
	left: -22px;
	top: -39px;
}

.frame-wrapper .border-right img {
	position: absolute;
	right: -22px;
	top: -39px;
}

.frame-wrapper .centerLogoDv figure img {
	position: absolute;
	left: 0;
	right: 0;
	top: -70px;
	text-align: center;
	margin: 0px auto;
}

.auction_sec ul.auction-items {
	padding: 300px 0 200px;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.auction_sec ul.auction-items .auction-box {
	text-align: center;
	position: relative;
	z-index: 2;
}

.auction_sec ul.auction-items .auction-box .txt h4 {
	color: #ffffff;
	font-size: 12px;
	padding: 11px 0;
}

.auction_sec ul.auction-items li:nth-child(1) {
	position: absolute;
	left: -14%;
	bottom: 18%;
}

.auction_sec ul.auction-items li:nth-child(2) {
	position: absolute;
	left: -4%;
	bottom: 27%;
}

.auction_sec ul.auction-items li:nth-child(3) {
	position: absolute;
	left: 9%;
	bottom: 31%;
}

.auction_sec ul.auction-items li:nth-child(4) {
	position: absolute;
	left: 22%;
	bottom: 37%;
}

.auction_sec ul.auction-items li:nth-child(5) {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 30%;
}

.auction_sec ul.auction-items li:nth-child(5) .img-box img {
	height: 210px;
	font-size: 10px;
	background-image: linear-gradient(
		to right,
		#000002,
		#101011,
		#1a191a,
		#232323,
		#2c2c2c
	);
	background-repeat: no-repeat;
	background-position: left;
	color: #ffe698 !important;
	font-family: "aniron";
	font-size: 10px;
	border: 3px solid;
	border-image-source: linear-gradient(
		to right,
		#b88425,
		#c5973f,
		#d2a957,
		#e0bc6f,
		#edcf88,
		#efd28b,
		#f1d58f,
		#f3d892,
		#eacb80,
		#e1bf6f,
		#d9b25d,
		#d0a64c
	) !important;
	border-image-slice: 1;
	border-width: 3px;
	transition: all 0.3s ease-in-out;
	padding: 20px 20px;
}

.auction_sec ul.auction-items li:nth-child(6) {
	position: absolute;
	right: 24%;
	bottom: 34%;
}

.auction_sec ul.auction-items li:nth-child(7) {
	position: absolute;
	right: 10%;
	bottom: 29%;
}

.auction_sec ul.auction-items li:nth-child(8) {
	position: absolute;
	right: -3%;
	bottom: 23%;
}

.auction_sec ul.auction-items li:nth-child(9) {
	position: absolute;
	right: -15%;
	bottom: 16%;
}

.auction_sec ul.auction-items li:nth-child(5) .txt h4 {
	font-size: 15px;
	line-height: 25px;
}

.auction_sec ul.auction-items li .auction-box:before {
	content: "";
	background: #fbce00;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 13px;
	margin: 0px auto;
	box-shadow: 0px 0px 30px 35px #fbce00;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	z-index: -1;
}

.auction_sec ul.auction-items li:nth-child(5) .auction-box:before {
	content: "";
	background: #fbce00;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40%;
	margin: 0px auto;
	box-shadow: 0px 0px 60px 85px #fbce00;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	z-index: -1;
}

.auction_sec ul.auction-items .auction-box .img-box img {
	background-image: linear-gradient(
		to right,
		#000002,
		#101011,
		#1a191a,
		#232323,
		#2c2c2c
	);
	background-repeat: no-repeat;
	background-position: left;
	color: #ffe698 !important;
	font-family: "aniron";
	font-size: 10px;
	border: 3px solid;
	border-image-source: linear-gradient(
		to right,
		#b88425,
		#c5973f,
		#d2a957,
		#e0bc6f,
		#edcf88,
		#efd28b,
		#f1d58f,
		#f3d892,
		#eacb80,
		#e1bf6f,
		#d9b25d,
		#d0a64c
	) !important;
	border-image-slice: 1;
	border-width: 3px;
	transition: all 0.3s ease-in-out;
	padding: 10px 10px;
	height: 105px;
}

/* Auction Css End Here */
