/* Castle Css Start Here */
.frame-wrapper {
	background-image: url("../img/crastle-back.png") !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 3rem 2rem;
	margin: 4.5rem 2rem;
	position: relative;
}
.frame-wrapper .centerLogoDv figure img {
	position: absolute;
	left: 0;
	right: 0;
	top: -70px;
	text-align: center;
	margin: 0px auto;
}
.frame-wrapper .border-left img {
	position: absolute;
	left: -22px;
	top: -39px;
}
.frame-wrapper .border-right img {
	position: absolute;
	right: -22px;
	top: -39px;
}
.castle_sec {
	padding: 40px 0 250px;
}
.castle_sec .heading_wrapper {
	text-align: center;
	padding-top: 100px;
}
/* Castle Css End Here */
