/* Results Css Start Here */
.frame-wrapper {
    background-image: url('../img/craft-back.png') !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding: 2rem 2rem 3rem;
    margin: 4.5rem 2rem;
    position: relative;
}

.frame-wrapper .border-left img {
    position: absolute;
    left: -22px;
    top: -39px;
}

.frame-wrapper .border-right img {
    position: absolute;
    right: -22px;
    top: -39px;
}

.frame-wrapper .centerLogoDv figure img {
    position: absolute;
    left: 0;
    right: 0;
    top: -70px;
    text-align: center;
    margin: 0px auto;
}

/* Results Css End Here */